@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


*{

margin:0;
padding:0;
box-sizing:border-box;

}


html{

scroll-behavior:smooth;

}


body{

font-family:'Inter',sans-serif;

background:#ffffff;

color:#111;

overflow-x:hidden;

}



a{

text-decoration:none;

color:inherit;

}



img{

max-width:100%;

display:block;

}



.container{

width:90%;
max-width:1200px;
margin:auto;

}



.section{

padding:100px 0;

}



.heading{

font-size:45px;
font-weight:800;
text-align:center;
margin-bottom:40px;

}



.gradient-text{

background:linear-gradient(
90deg,
#0066ff,
#00d4ff
);

-webkit-background-clip:text;
color:transparent;

}



.btn{

display:inline-block;

padding:14px 32px;

border-radius:50px;

background:#0066ff;

color:white;

font-weight:600;

transition:.3s;

}



.btn:hover{

transform:translateY(-4px);

box-shadow:
0 15px 30px rgba(0,102,255,.25);

}




.card{

background:white;

border-radius:20px;

padding:30px;

box-shadow:
0 15px 40px rgba(0,0,0,.08);

transition:.3s;

}



.card:hover{

transform:translateY(-10px);

}



::-webkit-scrollbar{

width:10px;

}


::-webkit-scrollbar-thumb{

background:#0066ff;

border-radius:20px;

}



@media(max-width:768px){


.heading{

font-size:32px;

}


.section{

padding:60px 0;

}


}
@import "./navbar.css";
@import "./home.css";
@import "./pages.css";
@import "./responsive.css";
