.navbar{

position:sticky;

top:0;

z-index:1000;

background:rgba(255,255,255,.85);

backdrop-filter:blur(15px);

border-bottom:1px solid rgba(0,0,0,.05);

}


.nav-container{

height:80px;

display:flex;

align-items:center;

justify-content:space-between;

}



.logo{

font-size:25px;

font-weight:800;

letter-spacing:1px;

}


.logo .dot{

color:#0066ff;

}



.nav-links{

display:flex;

align-items:center;

gap:35px;

font-weight:500;

}



.nav-links a{

transition:.3s;

}


.nav-links a:hover{

color:#0066ff;

}



.nav-btn{

background:#0066ff;

color:white!important;

padding:12px 25px;

border-radius:30px;

}



.menu{

display:none;

font-size:30px;

background:none;

border:none;

cursor:pointer;

}



@media(max-width:850px){


.menu{

display:block;

}


.nav-links{

position:absolute;

top:80px;

left:0;

width:100%;

background:white;

flex-direction:column;

padding:30px;

transform:translateY(-150%);

transition:.4s;

}


.nav-links.active{

transform:translateY(0);

}


}