.page{

min-height:80vh;

}



.about-content{

display:grid;

grid-template-columns:1fr 1fr;

gap:30px;

margin-bottom:80px;

}



.team-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}



.service-large-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}



.portfolio-detail-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}



.card ul{

margin-top:20px;

padding-left:20px;

}



.footer{

background:#111;

color:white;

padding:70px 0 20px;

}



.footer-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}



.footer p{

color:#aaa;

margin-top:15px;

}



.social{

display:flex;

gap:20px;

font-size:25px;

}



.copyright{

text-align:center;

margin-top:50px;

color:#777;

}