@media(max-width:1000px){


.hero-content{

grid-template-columns:1fr;

text-align:center;

}


.hero h1{

font-size:45px;

}


.hero-buttons{

justify-content:center;

}


.metric-grid{

grid-template-columns:repeat(2,1fr);

}



.service-grid{

grid-template-columns:repeat(2,1fr);

}


.portfolio-grid{

grid-template-columns:repeat(2,1fr);

}


.team-grid,

.service-large-grid,

.portfolio-detail-grid{

grid-template-columns:1fr 1fr;

}


.footer-grid{

grid-template-columns:1fr 1fr;

}


}



@media(max-width:600px){


.hero h1{

font-size:35px;

}


.metric-grid,

.service-grid,

.portfolio-grid,

.testimonial-grid,

.about-content,

.team-grid,

.service-large-grid,

.portfolio-detail-grid,

.footer-grid{

grid-template-columns:1fr;

}


.hero-image{

display:none;

}


}